<div class="container">
<div class="row mt-4">
<div class="mx-auto">
<h1 class="text-center"><strong>About</strong></h1>
<h3 class="text-center">
ながのCAKEは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
様々なバリエーションをご用意しております。<br>
また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
ぜひ、ご注文ください。<br>
</h3>
<dov class="row justify-content-center border border-secondary">
<%= image_tag 'about_image.jpg', width: '50%', height: '50%'  %>
</div>

</div>
</div>
</div>
</div>