<div class="container mt-3">

<div class="row">
<div class="col-md-8">
<p class="border rounded border-dark">
ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。<br>
</p>
</div>
</div>

<div class="row">
<h1><strong>新着商品</strong></h1>
</div>

<!--each文-->
<div class="row">
画像用
</div>


<div class="row">
<a href="http://sample.htm">全ての商品をみる＞</a>
</div>

</div>

