<div class="container">
<h3 class="row mt-4 bg-light">ショッピングカート</h3>
<% link_to "カートを空にする", items_path, method: :destroy_all, class: ""%>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
<% @cart_items.each do |c| %>
  <tbody>
    <tr>
      <th><% c.item.name %></th>
      <th><% c.item.price %></th>
      <th><%= c.select :amount, [*1..10] %><% c.submit "変更", class: "btn btn-success"%></th>
      <th></th>
      <th><></th>
    </tr>
  </tbody>
</table>
<% end %>
<%= link_to "買い物を続ける", root_path, class: 'btn btn-primary' %>


<!--<li class="list-none">-->
<!--    %= form_with model: @cart_items method: :patch do |ci| %>-->
<!--    %= -->
<!--    %= ci.product.price %>-->
<!--    %= ci.hidden_field :product_id, value: cart_item.product.id %>-->
<!--    %= ci.number_field :quantity ,value: cart_item.quantity%>-->

<!--    %=link_to "削除", delete_item_path(product_id: cart_item.product.id), method: :delete,-->
<!--!                                      data: { confirm: "商品を削除しますか？" } %>-->
<!--         <td>%= ci.item.with_tax_price%></td>-->
<!--          <td>%= ci.subtotal%></td>-->
<!--          <td>%= ci.subtotal%></td>-->
<!--%= ci.submit "更新", class: "" %>-->
<!--</li>-->
<!--% end %>-->

<!--<table> -->
<!--  <thead>-->
<!--      <th>単価(税込)</th>-->
<!--      <th>小計</th>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  % インスタンス変数.each do |cart_item| %>-->
<!--      <tr>-->
<!--          <td>%= (cart_item.item.price * 1.1).floor %></td>-->
<!--          <td>%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>-->
<!--          % @合計金額 +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>-->
<!--      </tr>-->
<!--  % end %>-->
<!--  </tbody>-->
<!--</table>-->